<a href="https://colab.research.google.com/github/Roy-Jyo/Skills-Matrix/blob/main/Tutorial_w5_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Read data using pandas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Upload the dataset available here [link text](https://tafensw-my.sharepoint.com/:x:/g/personal/sunny_verma_tafensw_edu_au/ERZMr62vqQpOjKJytQrxUNoBx41JGATQDLNI1rzY6pQDyg?e=vNfzKo)

In [ ]:
data = pd.read_csv('/content/adult.csv', na_values='?')

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        46043 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       46033 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   47985 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
None

In [ ]:
print(data.head())

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18        NaN  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                NaN    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [ ]:
data.workclass.value_counts(dropna=False)

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
NaN                  2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [ ]:
data.workclass.fillna('no-income', inplace=True)
data.workclass.value_counts(dropna=False)

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
no-income            2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [ ]:
data['workclass'].replace(to_replace = ['Self-emp-not-inc','Without-pay','Never-worked'], value = 'no-income',inplace = True)
data['workclass'].replace(to_replace = ['Local-gov','State-gov','Federal-gov'], value = 'gov',inplace = True)
data['workclass'].replace(to_replace = 'Self-emp-inc', value = 'Self', inplace = True)
data.workclass.value_counts()
codes, uniques = pd.factorize(data.workclass)
data['dmy_workclass'] = codes

**Variable educational-num and education**

In [ ]:
data[['educational-num', 'education']].value_counts(dropna=False).sort_values()

educational-num  education
1                Preschool          83
2                1st-4th           247
3                5th-6th           509
16               Doctorate         594
8                12th              657
5                9th               756
15               Prof-school       834
4                7th-8th           955
6                10th             1389
12               Assoc-acdm       1601
7                11th             1812
11               Assoc-voc        2061
14               Masters          2657
13               Bachelors        8025
10               Some-college    10878
9                HS-grad         15784
dtype: int64

In [ ]:
data.drop(['education'], axis=1, inplace=True)
data.columns

Index(['age', 'workclass', 'fnlwgt', 'educational-num', 'marital-status',
       'occupation', 'relationship', 'race', 'gender', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country', 'income',
       'dmy_workclass'],
      dtype='object')

In [ ]:
data[['hours-per-week']].value_counts(dropna=False)
# data['hours-per-week'].isnull().values.any()
# data.isnull().sum()

hours-per-week
40                22803
50                 4246
45                 2717
60                 2177
35                 1937
                  ...
87                    1
82                    1
94                    1
79                    1
69                    1
Length: 96, dtype: int64

In [ ]:
data[['fnlwgt']].value_counts(dropna=False)

fnlwgt
203488     21
190290     19
120277     19
125892     18
126569     18
           ..
163494      1
163480      1
163460      1
163443      1
1490400     1
Length: 28523, dtype: int64

**Take data for modelling**

In [ ]:
data_modelling = data[['age', 'educational-num','fnlwgt', 'capital-gain','capital-loss','income']]

In [ ]:
codes, uniques = pd.factorize(data.income)
data_modelling['label'] = codes

<ipython-input-13-f8cbf45ff34e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_modelling['label'] = codes

In [ ]:
data_modelling

       age  educational-num  fnlwgt  capital-gain  capital-loss income  label
0       25                7  226802             0             0  <=50K      0
1       38                9   89814             0             0  <=50K      0
2       28               12  336951             0             0   >50K      1
3       44               10  160323          7688             0   >50K      1
4       18               10  103497             0             0  <=50K      0
...    ...              ...     ...           ...           ...    ...    ...
48837   27               12  257302             0             0  <=50K      0
48838   40                9  154374             0             0   >50K      1
48839   58                9  151910             0             0  <=50K      0
48840   22                9  201490             0             0  <=50K      0
48841   52                9  287927         15024             0   >50K      1

[48842 rows x 7 columns]

In [ ]:
uniques

Index(['<=50K', '>50K'], dtype='object')

**Drop the income variable**

In [ ]:
data_modelling.drop(['income'], axis=1, inplace=True)
data_scaling = data_modelling.copy() # for you to try hands on

<ipython-input-17-3bdebcebbe96>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_modelling.drop(['income'], axis=1, inplace=True)

**Extract train test splits**

In [ ]:
from sklearn.model_selection import train_test_split
feat = data_modelling.loc[:, data_modelling.columns != 'label']
label = data_modelling['label']
X_train, X_test, y_train, y_test = train_test_split(feat, label, test_size=0.33, random_state=5, stratify=data_modelling[['educational-num']])

**Train KNN classifier**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
K = 5
neigh = KNeighborsClassifier(n_neighbors=K)
neigh.fit(X_train, y_train)

KNeighborsClassifier()

In [ ]:
y_pred = neigh.predict(X_test)

**Evaluate Classifier Accuracy**

In [ ]:
from sklearn.metrics import precision_score, recall_score, accuracy_score

In [ ]:
accuracy_score(y_test, y_pred)

0.7769574388881996

In [ ]:
precision_score(y_test, y_pred, average='weighted')

0.7517992056936369

In [ ]:
recall_score(y_test, y_pred, average='weighted')

0.7769574388881996

To Do - Scale the variables and then retrain the model

In [ ]:
!pip install lightgbm

Requirement already satisfied: lightgbm in /usr/local/lib/python3.10/dist-packages (4.0.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from lightgbm) (1.23.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from lightgbm) (1.10.1)

# Base example

In [ ]:
import lightgbm as lgb

**Prepare Datset**

In [ ]:
from sklearn.model_selection import train_test_split
feat = data_modelling.loc[:, data_modelling.columns != 'label']
label = data_modelling['label']
X_train, X_test, y_train, y_test = train_test_split(feat, label, test_size=0.33, random_state=5, stratify=data_modelling[['educational-num']])
X_train, X_val, y_train, y_val = train_test_split(X_train,y_train, train_size=0.9, random_state=5, stratify=X_train[['educational-num']])

In [ ]:
train_dataset = lgb.Dataset(X_train, y_train)
test_dataset = lgb.Dataset(X_test, y_test)
val_dataset = lgb.Dataset(X_val, y_val)

**Train**

In [ ]:
param = {'num_leaves': 31, 'objective': 'binary','learning_rate':0.05}
param['metric'] = ['auc', 'binary_logloss']

In [ ]:
num_round = 500
bst = lgb.train(param, train_dataset, num_round, valid_sets=val_dataset, callbacks=[lgb.early_stopping(stopping_rounds=10)])

[LightGBM] [Info] Number of positive: 7009, number of negative: 22442
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000293 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 515
[LightGBM] [Info] Number of data points in the train set: 29451, number of used features: 5
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.237989 -> initscore=-1.163739
[LightGBM] [Info] Start training from score -1.163739
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[121]	valid_0's auc: 0.865093	valid_0's binary_logloss: 0.360384

Prediction

In [ ]:
ypred = bst.predict(X_test, num_iteration=bst.best_iteration)
print(accuracy_score(y_test, y_pred))
print(precision_score(y_test, y_pred, average='weighted'))

0.7769574388881996
0.7517992056936369

**Advanced - More feature but strings**

In [ ]:
data_modelling = data[['age', 'educational-num','fnlwgt', 'capital-gain','capital-loss','income','workclass','marital-status']]

In [ ]:
codes, uniques = pd.factorize(data.income)
data_modelling['label'] = codes

<ipython-input-91-f8cbf45ff34e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_modelling['label'] = codes

**Need to convert to categorical**

In [ ]:
data_modelling['workclass'] = data_modelling['workclass'].astype('category')
data_modelling['income'] = data_modelling['income'].astype('category')
data_modelling['marital-status'] = data_modelling['marital-status'].astype('category')

<ipython-input-93-2aa7a2b44440>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_modelling['workclass'] = data_modelling['workclass'].astype('category')
<ipython-input-93-2aa7a2b44440>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_modelling['income'] = data_modelling['income'].astype('category')
<ipython-input-93-2aa7a2b44440>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_modelling['marital-status'] = data_modelling['marital-status'].astype('category')

In [ ]:
data_modelling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   educational-num  48842 non-null  int64
 2   fnlwgt           48842 non-null  int64
 3   capital-gain     48842 non-null  int64
 4   capital-loss     48842 non-null  int64
 5   income           48842 non-null  category
 6   workclass        48842 non-null  category
 7   marital-status   48842 non-null  category
 8   label            48842 non-null  int64
dtypes: category(3), int64(6)
memory usage: 2.4 MB

In [ ]:
data_modelling.drop(['income'], axis=1, inplace=True)
from sklearn.model_selection import train_test_split
feat = data_modelling.loc[:, data_modelling.columns != 'label']
label = data_modelling['label']
X_train, X_test, y_train, y_test = train_test_split(feat, label, test_size=0.33, random_state=5, stratify=data_modelling[['educational-num']])
X_train, X_val, y_train, y_val = train_test_split(X_train,y_train, train_size=0.9, random_state=5, stratify=X_train[['educational-num']])

<ipython-input-98-35e84a30f799>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_modelling.drop(['income'], axis=1, inplace=True)

In [ ]:
train_dataset = lgb.Dataset(X_train, y_train)
test_dataset = lgb.Dataset(X_test, y_test)
val_dataset = lgb.Dataset(X_val, y_val)

In [ ]:
num_round = 500
bst = lgb.train(param, train_dataset, num_round, valid_sets=val_dataset, callbacks=[lgb.early_stopping(stopping_rounds=10)])
ypred = bst.predict(X_test, num_iteration=bst.best_iteration)
print('AUC on Test Set')
print(accuracy_score(y_test, y_pred))
print(precision_score(y_test, y_pred, average='weighted'))

[LightGBM] [Info] Number of positive: 7009, number of negative: 22442
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001493 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 527
[LightGBM] [Info] Number of data points in the train set: 29451, number of used features: 7
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.237989 -> initscore=-1.163739
[LightGBM] [Info] Start training from score -1.163739
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[147]	valid_0's auc: 0.923986	valid_0's binary_logloss: 0.289762
AUC on Test Set
0.7769574388881996
0.7517992056936369